@font-face {
	font-family: larkplayericon;
	src: url(https://bkssl.bdimg.com/static/wiki-common/widget/lib/larkplayer/resource/font/layout_7fbc0d5.eot#iefix) format("embedded-opentype"), url(https://bkssl.bdimg.com/static/wiki-common/widget/lib/larkplayer/resource/font/layout_48ef975.woff2) format("woff2"), url(https://bkssl.bdimg.com/static/wiki-common/widget/lib/larkplayer/resource/font/layout_90b03f2.woff) format("woff"), url(https://bkssl.bdimg.com/static/wiki-common/widget/lib/larkplayer/resource/font/layout_ce0c851.ttf) format("truetype"), url(https://bkssl.bdimg.com/static/wiki-common/widget/lib/larkplayer/resource/font/layout_54b1c76.svg#larkplayericon) format("svg");
	font-weight: 400;
	font-style: normal;
}
.placeholder-1511407549745 {
	display: none;
}
.file-placeholder-1510232955822 {
	display: none;
}
.lark-play-button-mobile {
	background: rgba(0, 0, 0, 0.3); border-radius: 50%; border: 1px solid rgb(255, 255, 255); border-image: none; left: 50%; top: 50%; width: 48px; height: 48px; text-align: center; color: rgb(255, 255, 255); line-height: 48px; font-size: 18px; position: absolute; box-sizing: border-box; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);
}
.lark-play-button__play {
	left: 2px; display: block; position: relative;
}
.lark-play-button__pause {
	display: none;
}
.lark-play-button {
	cursor: pointer;
}
.lark-play-button-pc {
	transition:opacity 0.1s ease-out; margin-right: 14px; opacity: 0.9; -webkit-transition: opacity .1s ease-out; -moz-transition: opacity .1s ease-out; -o-transition: opacity .1s ease-out;
}
.lark-play-button-pc:hover {
	opacity: 1;
}
.lark-play-button-pc .lark-play-button__play {
	padding: 0px 14px;
}
.lark-play-button-pc .lark-play-button__pause {
	padding: 0px 14px;
}
[class^=lark-icon-]::before {
	text-align: center; text-transform: none; font-family: larkplayericon; font-style: normal; font-variant: normal; font-weight: 400; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
[class*=' lark-icon-']::before {
	text-align: center; text-transform: none; font-family: larkplayericon; font-style: normal; font-variant: normal; font-weight: 400; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
.lark-icon-sound-small::before {
	content: "\e600";
}
.lark-icon-sound-large::before {
	content: "\e601";
}
.lark-icon-sound-middle::before {
	content: "\e602";
}
.lark-icon-exit-fullscreen::before {
	content: "\e603";
}
.lark-icon-request-fullscreen::before {
	content: "\e604";
}
.lark-icon-pause::before {
	content: "\e606";
}
.lark-icon-play::before {
	content: "\e607";
}
.lark-icon-loading-circle::before {
	content: "\e608";
}
.lark-icon-replay::before {
	content: "\e609";
}
.lark-playing .lark-play-button__play {
	display: none;
}
.lark-playing .lark-play-button__pause {
	display: block;
}
.lark-playing .lark-error-area {
	display: none;
}
.lark-playing .lark-loading-area {
	display: none;
}
.lark-fullscreen {
	width: 100% !important; height: 100% !important; padding-top: 0px !important;
}
.lark-fullscreen .lark-exit-fullscreen {
	display: block;
}
.lark-full-window .lark-exit-fullscreen {
	display: block;
}
.lark-fullscreen .lark-request-fullscreen {
	display: none;
}
.lark-full-window .lark-request-fullscreen {
	display: none;
}
.lark-user-active .lark-play-button-mobile {
	display: block;
}
.lark-user-active .lark-control-bar {
	display: flex;
}
.lark-user-active .lark-progress-bar--simple {
	display: none;
}
.lark-user-active .lark-control-bar-pc {
	opacity: 1;
}
.lark-play-button-mobile {
	display: none;
}
.lark-control-bar {
	display: none;
}
.lark-control-bar-pc {
	transition:opacity 0.25s cubic-bezier(0, 0, 0.2, 1); opacity: 0; -webkit-transition: opacity .25s cubic-bezier(0, 0, .2, 1); -moz-transition: opacity .25s cubic-bezier(0, 0, .2, 1); -o-transition: opacity .25s cubic-bezier(0, 0, .2, 1);
}
.lark-seeking .lark-loading-area {
	display: block;
}
.lark-waiting .lark-loading-area {
	display: block;
}
.lark-loadstart .lark-loading-area {
	display: block;
}
.lark-seeking .lark-play-button-mobile {
	display: none;
}
.lark-waiting .lark-play-button-mobile {
	display: none;
}
.lark-loadstart .lark-play-button-mobile {
	display: none;
}
.lark-paused .lark-play-button-mobile {
	display: block;
}
.lark-ended .lark-play-button-mobile {
	display: block;
}
.lark-paused .lark-play-button__play {
	display: block;
}
.lark-ended .lark-play-button__play {
	display: block;
}
.lark-paused .lark-play-button__pause {
	display: none;
}
.lark-ended .lark-play-button__pause {
	display: none;
}
.lark-paused .lark-control-bar {
	display: flex;
}
.lark-ended .lark-control-bar {
	display: flex;
}
.lark-paused .lark-progress-bar--simple {
	display: none;
}
.lark-ended .lark-progress-bar--simple {
	display: none;
}
.lark-paused .lark-error-area {
	display: none;
}
.lark-ended .lark-error-area {
	display: none;
}
.lark-paused .lark-loading-area {
	display: none;
}
.lark-ended .lark-loading-area {
	display: none;
}
.lark-paused .lark-control-bar-pc {
	opacity: 1;
}
.lark-ended .lark-control-bar-pc {
	opacity: 1;
}
.lark-paused.lark-seeking .lark-loading-pc .lark-loading-area {
	display: block;
}
.lark-paused.lark-waiting .lark-loading-pc .lark-loading-area {
	display: block;
}
.lark-paused.lark-loadstart .lark-loading-pc .lark-loading-area {
	display: block;
}
.lark-ended .lark-complete {
	display: block;
}
.lark-error .lark-error-area {
	display: block;
}
.lark-error .lark-play-button-mobile {
	display: none;
}
.lark-error .lark-loading-area {
	display: none;
}
.lark-controls-hide .lark-control-bar {
	display: none;
}
.lark-controls-hide .lark-control-bar-pc {
	display: none;
}
.lark-not-support .lark-not-support-notice {
	display: block;
}
.lark-hidden {
	display: none;
}
.lark-progress-bar {
	flex:1 1 0px; display: flex; position: relative; cursor: pointer; align-items: center; -webkit-box-align: center; -webkit-align-items: center; -webkit-flex: 1;
}
.lark-progress-bar-pc {
	margin: 0px 10px; height: 3px;
}
.lark-progress-bar-pc .lark-progress-bar-hover-light {
	background: rgba(231, 231, 231, 0.7);
}
.lark-progress-bar-pc .lark-progress-bar-except-fill {
	transition:0.1s cubic-bezier(0, 0, 0.2, 1); height: 3px; position: absolute; cursor: pointer; -webkit-transition: all .1s cubic-bezier(0, 0, .2, 1); -moz-transition: all .1s cubic-bezier(0, 0, .2, 1); -o-transition: all .1s cubic-bezier(0, 0, .2, 1);
}
.lark-progress-bar-pc .lark-progress-bar-hover-light {
	transition:0.1s cubic-bezier(0, 0, 0.2, 1); height: 3px; position: absolute; cursor: pointer; -webkit-transition: all .1s cubic-bezier(0, 0, .2, 1); -moz-transition: all .1s cubic-bezier(0, 0, .2, 1); -o-transition: all .1s cubic-bezier(0, 0, .2, 1);
}
.lark-progress-bar-pc .lark-buffer-bar {
	transition:0.1s cubic-bezier(0, 0, 0.2, 1); height: 3px; -webkit-transition: all .1s cubic-bezier(0, 0, .2, 1); -moz-transition: all .1s cubic-bezier(0, 0, .2, 1); -o-transition: all .1s cubic-bezier(0, 0, .2, 1);
}
.lark-progress-bar-pc .lark-progress-bar-padding {
	width: 100%; height: 16px; bottom: 0px; position: absolute; cursor: pointer;
}
.lark-progress-bar-pc .lark-progress-bar__line__handle {
	top: 1.5px;
}
.lark-progress-bar-pc .lark-progress-bar__line__handle-except-fill {
	width: 0px; height: 0px;
}
.lark-progress-bar-pc:hover .lark-progress-bar__line__handle-except-fill {
	width: 12px; height: 12px;
}
.lark-progress-bar-pc:hover .lark-progress-bar-except-fill {
	height: 5px;
}
.lark-progress-bar-pc:hover .lark-buffer-bar {
	height: 5px;
}
.lark-progress-bar-pc:hover .lark-progress-bar-hover-light {
	height: 5px;
}
.lark-progress-bar-pc.lark-sliding .lark-progress-bar__line__handle-except-fill {
	width: 12px; height: 12px;
}
.lark-progress-bar-pc.lark-sliding .lark-progress-bar-except-fill {
	height: 5px;
}
.lark-progress-bar-pc.lark-sliding .lark-buffer-bar {
	height: 5px;
}
.lark-progress-bar-pc.lark-sliding .lark-progress-bar-hover-light {
	height: 5px;
}
.lark-progress-bar-except-fill {
	transition:0.1s cubic-bezier(0, 0, 0.2, 1); width: 100%; height: 1px; position: relative; cursor: pointer; -webkit-transition: all .1s cubic-bezier(0, 0, .2, 1); -moz-transition: all .1s cubic-bezier(0, 0, .2, 1); -o-transition: all .1s cubic-bezier(0, 0, .2, 1);
}
.lark-progress-bar__background {
	background: rgba(231, 231, 231, 0.5); width: 100%; height: 100%; position: absolute;
}
.lark-progress-bar__line {
	background: rgb(69, 157, 245); width: 0px; height: 100%; position: absolute; z-index: 2;
}
.lark-progress-bar__line__handle {
	padding: 10px; border-radius: 50%; top: 0.5px; right: -16px; position: absolute; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%);
}
.lark-progress-bar__line__handle-except-fill {
	background: rgb(255, 255, 255); border-radius: 50%; transition:0.1s cubic-bezier(0, 0, 0.2, 1); width: 12px; height: 12px; -webkit-transition: all .1s cubic-bezier(0, 0, .2, 1); -moz-transition: all .1s cubic-bezier(0, 0, .2, 1); -o-transition: all .1s cubic-bezier(0, 0, .2, 1);
}
.lark-fullscreen .lark-progress-bar__line__handle {
	top: 0.5px; right: -17.5px;
}
.lark-fullscreen .lark-progress-bar-pc .lark-progress-bar__line__handle {
	top: 1.5px;
}
.lark-fullscreen .lark-progress-bar-pc .lark-progress-bar__line__handle-except-fill {
	width: 0px; height: 0px;
}
.lark-fullscreen .lark-progress-bar-pc:hover .lark-progress-bar__line__handle-except-fill {
	width: 12px; height: 12px;
}
.lark-fullscreen .lark-progress-bar-pc:hover .lark-progress-bar-except-fill {
	height: 5px;
}
.lark-fullscreen .lark-progress-bar-pc:hover .lark-buffer-bar {
	height: 5px;
}
.lark-fullscreen .lark-progress-bar-pc.lark-sliding .lark-progress-bar__line__handle-except-fill {
	width: 12px; height: 12px;
}
.lark-fullscreen .lark-progress-bar-pc.lark-sliding .lark-progress-bar-except-fill {
	height: 5px;
}
.lark-fullscreen .lark-progress-bar-pc.lark-sliding .lark-buffer-bar {
	height: 5px;
}
.lark-fullscreen .lark-progress-bar__line__handle-except-fill {
	width: 15px; height: 15px;
}
.lark-buffer-bar {
	width: 100%; height: 1px; position: absolute; z-index: 1;
}
.lark-progress-bar--simple .lark-buffer-bar {
	height: 3px;
}
.lark-buffer-bar__line {
	background: rgb(231, 231, 231); left: 0px; width: 0px; height: 100%; position: absolute;
}
.lark-exit-fullscreen {
	background: url("https://bkssl.bdimg.com/static/wiki-common/widget/lib/larkplayer/resource/images/exit-fullscreen_4130cbb.png") no-repeat center / contain; width: 1em; height: 100%; display: none;
}
.lark-request-fullscreen {
	display: block;
}
.lark-fullscreen-button {
	padding: 0px 14px; height: 100%; float: right; display: flex; cursor: pointer; align-items: center; -webkit-box-align: center; -webkit-align-items: center;
}
.lark-loading-area {
	top: 50%; width: 100%; height: 28px; text-align: center; color: rgb(255, 255, 255); line-height: 28px; font-size: 13px; display: none; position: absolute; box-sizing: border-box; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%);
}
.lark-loading-cnt {
	background: rgba(0, 0, 0, 0.5); padding: 0px 15px; border-radius: 15px; display: inline-block;
}
.lark-loading-area__spinner {
	vertical-align: sub; display: inline-block;
}
.lark-icon-loading {
	background: url("https://bkssl.bdimg.com/static/wiki-common/widget/lib/larkplayer/resource/images/loading_61d78b9.png") no-repeat center / contain; animation:spin 1s linear infinite; width: 14px; height: 14px; animation-play-state: running; -webkit-animation-name: spin; -webkit-animation-duration: 1s; -webkit-animation-timing-function: linear; -webkit-animation-delay: 0s; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: normal; -webkit-animation-fill-mode: none; -webkit-animation-play-state: running;
}
.lark-loading-area__text {
	margin-left: 4px; display: inline-block;
}
.lark-loading-spinner {
	border-width: 6px; border-style: solid; border-color: transparent rgb(221, 221, 221) rgb(221, 221, 221) transparent; border-radius: 50%; animation:spinner 0.8s linear infinite; border-image: none; width: 65px; height: 65px; display: inline-block; animation-play-state: running; -webkit-box-sizing: border-box; -webkit-animation-name: spinner; -webkit-animation-duration: .8s; -webkit-animation-timing-function: linear; -webkit-animation-delay: 0s; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: normal; -webkit-animation-fill-mode: none; -webkit-animation-play-state: running;
}
.lark-loading-pc {
	left: 50%; top: 50%; width: 65px; height: 28px; margin-top: -14px; margin-left: -32.5px; position: absolute; z-index: 3;
}
.lark-loading-pc .lark-loading-area {
	position: relative;
}
.lark-control-bar {
	left: 0px; width: 100%; bottom: 0px; position: absolute;
}
.lark-control-bar {
	background: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); height: 38px; color: rgb(255, 255, 255); font-size: 13px; display: none; align-items: stretch; -webkit-align-items: stretch;
}
.lark-current-time {
	margin: 0px 14px; display: flex; align-items: center; -webkit-box-align: center; -webkit-align-items: center;
}
.lark-duration {
	margin-left: 14px; display: flex; align-items: center; -webkit-box-align: center; -webkit-align-items: center;
}
.lark-progress-bar--simple {
	left: 0px; width: 100%; height: 3px; bottom: 0px; position: absolute;
}
.lark-error-area {
	top: 50%; width: 100%; height: 28px; text-align: center; color: rgb(255, 255, 255); line-height: 28px; font-size: 13px; display: none; position: absolute; cursor: pointer; box-sizing: border-box; transform: translateY(-50%);
}
.lark-error-cnt {
	background: rgba(0, 0, 0, 0.5); padding: 0px 15px; border-radius: 15px; display: inline-block;
}
.lark-error-area__spinner {
	vertical-align: sub; display: inline-block;
}
.lark-error-area__text {
	margin-left: 4px; display: inline-block;
}
.lark-error-pc .lark-error-area {
	background: rgba(0, 0, 0, 0.8); left: 0px; top: 0px; width: 100%; height: 100%; font-size: 14px; position: absolute; z-index: 2; transform: none;
}
.lark-error-pc .lark-error-text {
	left: 0px; top: 50%; width: 100%; position: absolute; transform: translateY(-50%);
}
.lark-complete {
	background: rgba(0, 0, 0, 0.8); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute;
}
.lark-complete__replay {
	left: 50%; top: 50%; width: 48px; height: 54px; color: rgb(255, 255, 255); font-size: 48px; margin-top: -27px; margin-left: -24px; position: absolute;
}
.lark-time {
	font-size: 13px; margin-right: 14px; float: left;
}
.lark-time::after {
	height: 0px; overflow: hidden; clear: both; font-size: 0px; display: block; visibility: hidden; content: "\0020";
}
.lark-time .lark-current-time {
	margin: 0px; float: left;
}
.lark-time .lark-duration {
	margin: 0px; float: left;
}
.lark-time .lark-time-separator {
	margin: 0px 2px; float: left;
}
.lark-control-bar-pc {
	width: 100%; height: 39px; bottom: 0px; color: rgb(255, 255, 255); line-height: 39px; font-size: 16px; position: absolute; cursor: default;
}
.lark-control-bar-pc::after {
	height: 0px; overflow: hidden; clear: both; font-size: 0px; display: block; visibility: hidden; content: "\0020";
}
.lark-control-bar-pc .lark-control__left {
	height: 100%; float: left; position: relative;
}
.lark-control-bar-pc .lark-control__left::after {
	height: 0px; overflow: hidden; clear: both; font-size: 0px; display: block; visibility: hidden; content: "\0020";
}
.lark-control-bar-pc .lark-control__right {
	height: 100%; float: right; position: relative;
}
.lark-control-bar-pc .lark-control__right::after {
	height: 0px; overflow: hidden; clear: both; font-size: 0px; display: block; visibility: hidden; content: "\0020";
}
.lark-control-bar-pc .lark-play-button-pc {
	float: left;
}
.lark-gradient-bottom {
	background: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); width: 100%; height: 49px; bottom: 0px; padding-top: 49px; position: absolute; pointer-events: none;
}
.lark-volume {
	width: 80px; height: 100%; margin-right: 14px; float: left; cursor: pointer;
}
.lark-volume::after {
	height: 0px; overflow: hidden; clear: both; font-size: 0px; display: block; visibility: hidden; content: "\0020";
}
.lark-volume-icon {
	margin-right: 4px; float: left;
}
.lark-volume-line {
	height: 100%; float: left; position: relative;
}
.lark-volume-line__line {
	left: 0px; top: 50%; width: 50px; height: 2px; position: absolute; transform: translateY(-50%); background-color: rgb(255, 255, 255); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%);
}
.lark-volume-line__line-padding {
	padding: 10px 0px; left: 0px; width: 100%; bottom: -10px; position: absolute;
}
.lark-volume-line__ball {
	background: rgb(255, 255, 255); border-radius: 50%; left: 50px; top: 50%; width: 10px; height: 10px; position: absolute; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);
}
.lark-tooltip {
	padding: 4px 8px; border-radius: 2px; color: rgb(255, 255, 255); font-size: 13px; display: none; white-space: nowrap; position: absolute; background-color: rgba(0, 0, 0, 0.8);
}
.lark-not-support-notice {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; color: rgb(255, 255, 255); display: none; position: absolute; z-index: 4;
}
.lark-not-support-notice__text {
	left: 0px; top: 50%; width: 100%; text-align: center; margin-top: -12px; position: absolute;
}
.larkplayer {
	background: rgb(0, 0, 0); position: relative; cursor: pointer; -ms-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; user-select: none;
}
.larkplayer video {
	width: 100%; height: 100%; display: block;
}
.larkplayer video:focus {
	outline: 0px;
}
.larkplayer:focus {
	outline: 0px;
}
.larkplayer .playback-rate-tip-pc {
	background: rgba(0, 0, 0, 0.5); padding: 0px 10px; border-radius: 6px; left: 10px; height: 32px; bottom: 45px; color: rgb(255, 255, 255); line-height: 32px; font-size: 14px; display: none; position: absolute;
}
.larkplayer .playback-rate-tip-pc .rate-text {
	color: rgb(69, 157, 245);
}
.larkplayer .playback-rate-tip-pc.show {
	display: block;
}
.lark-full-window {
	margin: 0px !important; left: 0px !important; top: 0px !important; width: 100% !important; height: 100% !important; right: 0px !important; bottom: 0px !important; position: fixed !important; z-index: 999999; min-height: 0px !important; max-height: none !important; min-width: 0px !important; max-width: none !important; box-sizing: border-box !important; transform: none !important; object-fit: contain;
}
.lark-fullscreen-adjust {
	margin: 0px !important; left: 0px !important; top: 0px !important; right: 0px !important; bottom: 0px !important;
}
.larkplayer-playback {
	padding: 0px 6px; float: left; display: flex; position: relative; z-index: 3; cursor: pointer; align-items: center; -webkit-box-align: center; -webkit-align-items: center;
}
.larkplayer-playback .playback-list {
	background: rgba(0, 0, 0, 0); border-radius: 6px; width: 80px; text-align: center; right: -20px; bottom: 0px; padding-bottom: 50px; display: none; position: absolute;
}
.larkplayer-playback .playback-list.hide {
	display: none !important;
}
.larkplayer-playback .playback-list li {
	background: rgba(0, 0, 0, 0.5); color: rgb(255, 255, 255); line-height: 28px; font-size: 12px; cursor: pointer;
}
.larkplayer-playback .playback-list li:first-child {
	border-top-left-radius: 6px; border-top-right-radius: 6px;
}
.larkplayer-playback .playback-list li:last-child {
	border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;
}
.larkplayer-playback .playback-list li:hover {
	font-size: 14px;
}
.larkplayer-playback .playback-list li.selected {
	color: rgb(69, 157, 245); font-size: 14px;
}
.larkplayer-playback:hover .playback-list {
	display: block;
}
.larkplayer-playback .playback-list:hover {
	display: block;
}
.larkplayer-playback .hide.playback-list:hover {
	display: none;
}
.larkplayer-playback .playback-btn {
	font-size: 14px;
}
