.lemmaWgt-searchHeader .user-info {
	right: 20px; line-height: 56px; padding-left: 25px; font-size: 12px; position: absolute;
}
.lemmaWgt-searchHeader .user-info a.user-link {
	color: rgb(51, 51, 51); text-decoration: underline;
}
